.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 1rem 0;
}
input{
  min-height: 25px;
  min-width: 235px;
}

.button {
border-radius: 2px;
padding: 0.25rem 0;
margin-top: 50px;
}